<!-- Sidebar -->
<div class="sidebar">
    <!-- Logo -->
    <div class="logo">
      <img src="https://raw.githubusercontent.com/XiaoPongo/Bodhami-Internship-assets-dump/main/assets/signuplogo.jpg" alt="Logo" />
    </div>
    
    <!-- Navigation -->
    <ul>
      <li class="active"><i class="fas fa-home"></i> <span>Dashboard</span></li>
      <li><i class="fas fa-book"></i> <span>Classes</span></li>
      <li><i class="fas fa-users"></i> <span>Students</span></li>
      <li><i class="fas fa-folder"></i> <span>Study Material</span></li>
      <li><i class="fas fa-cog"></i> <span>Settings</span></li>
    </ul>
    </div>
    